{% extends "smp/base.html" %}
{% load static %}

{% block content %}
<div class="row">
<div class="about-section">
    <h2>About Us</h2>
    <p>Welcome to TopMusicScores, your dedicated resource for exploring a comprehensive collection of sheet music. Our mission is to help musicians and enthusiasts find the perfect piece of music for every occasion, skill level, and musical interest.</p>
    
    <h2>Our Data</h2>
    <p>At TopMusicScores, we specialize in curating top-tier sheet music selections to enhance your musical journey. The information on our site is meticulously gathered from SheetMusicPlus, focusing on the top 100,000 products as of May 2024. Our team works diligently to ensure the listings are up-to-date and relevant, providing you with the best possible choices.</p>
    
    <h2>Privacy Policy</h2>
    <h3>Information Collection and Use</h3>
    <p>We collect information from you when you register on our site, subscribe to our newsletter, fill out a form, or enter information on our site. The collected information may include your name, email address, phone number, or other details to help you with your experience.</p>
    
    <h3>How We Protect Your Information</h3>
    <p>We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal data.</p>
    
    <h3>Third-Party Disclosure</h3>
    <p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential.</p>
    
    <h3>Third-Party Links</h3>
    <p>Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We, therefore, have no responsibility or liability for the content and activities of these linked sites.</p>
    
    <h3>Consent</h3>
    <p>By using our site, you consent to our privacy policy.</p>
    
    <h3>Changes to Our Privacy Policy</h3>
    <p>We may update our privacy policy from time to time. We will notify you of any changes by posting the new privacy policy on this page. This policy is effective as of 9 May 2024.</p>
    
    <p>For any questions or suggestions about our Privacy Policy, do not hesitate to <a href="mailto:hello@topmusicscores.com">contact us</a>.</p>
</div>
</div>
{% endblock %}